$color1: blue;
$color2: green;

ul {
  font-size: 14px;
  color: $color2;
}
div {
  font-size: 18px;
  font-style: sans-serif;
  p {

    color: $color1;
  }
  ul{
    color: $color2;
  }
}
